IotComprehensiveExperiment/实验/实验资料/物联网综合实验---华清远见/01-程序源码/物联网虚拟仿真软件实验/09-Node-RED源码/传感器数据解析实验.json
[
    {
        "id": "f051d31fa56e026a",
        "type": "tab",
        "label": "流程 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1987e117ebfe48f8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "012daa313fa76553",
        "type": "mqtt in",
        "z": "f051d31fa56e026a",
        "name": "",
        "topic": "test",
        "qos": "2",
        "datatype": "json",
        "broker": "1987e117ebfe48f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 210,
        "y": 320,
        "wires": [
            [
                "22d3cf8b140e53da"
            ]
        ]
    },
    {
        "id": "22d3cf8b140e53da",
        "type": "switch",
        "z": "f051d31fa56e026a",
        "name": "",
        "property": "payload.tem",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "30",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "30",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 320,
        "wires": [
            [
                "aee8b46473f58b24"
            ],
            [
                "70a663426460b680"
            ]
        ]
    },
    {
        "id": "aee8b46473f58b24",
        "type": "template",
        "z": "f051d31fa56e026a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "温度大于30℃",
        "output": "str",
        "x": 650,
        "y": 240,
        "wires": [
            [
                "a447104c6fc991dd"
            ]
        ]
    },
    {
        "id": "70a663426460b680",
        "type": "template",
        "z": "f051d31fa56e026a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "温度小于30℃",
        "output": "str",
        "x": 650,
        "y": 400,
        "wires": [
            [
                "6dbf7e2b72f73ee6"
            ]
        ]
    },
    {
        "id": "a447104c6fc991dd",
        "type": "debug",
        "z": "f051d31fa56e026a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "6dbf7e2b72f73ee6",
        "type": "debug",
        "z": "f051d31fa56e026a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 400,
        "wires": []
    }
]